<div *ngIf="(isConnected$ | async) === false; else loggedInTemplate">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">E-mail:</label>
      <input id="email" formControlName="email">
    </div>
    <div>
      <label for="password">Mot de passe:</label>
      <input id="password" formControlName="password">
    </div>
  
    <button type="submit">Connexion</button>
  </form>
</div>

<ng-template #loggedInTemplate>
  <p>Vous êtes connecté.</p>+
  <button (click)="onLogout()">Déconnexion</button>
</ng-template>
